* {
    box-sizing: border-box;
    line-height: 1.5;
}
.UI, .heading {
    width: 74rem;
    margin: 0rem auto;
}

.heading {
    padding: 1rem 0rem 0.5rem;
}

.UI {
    padding: 0.75rem 0rem;
    border-top: solid 2px rgb(61, 164, 199);
    border-bottom: solid 2px rgb(61, 164, 199);
}
button {
    font-size: 1.1em;
    padding: 0.6em 1.4em;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
    background-color: rgb(255 227 100);
    border: 2px #a3a3a3 solid;
}
button:hover {
    background-color: rgba(255, 227, 100, 0.8);
}

.shelf {
    margin-top: 1rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 17rem);
    grid-template-rows: 2.5em;
    grid-auto-rows: 19rem;
    gap: 2rem;
    justify-content: center;
}

.shelf h1 {
    margin: 0;
    grid-column: 1 / 5;
    font-size: 2em;
}

.shelfCard {
    background-color:rgb(241, 241, 241);
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

.form-modal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4);
    /* Fade in */
    animation-name: modal-fade;
    animation-duration: 0.3s
}
/* Animation fade in keyframes */
@keyframes modal-fade {
    from {opacity: 0};
    to {opacity: 1};
}
/* Animation slide down keyframes*/
@keyframes modal-slide-in {
    from {top: -100%}
    to {top: 0}
}
.modal-content {
    /* Slide down */
    animation-name: modal-slide-in;
    animation-duration: 0.25s;

    position: relative;
    background-color: aliceblue;
    width: 50%;
    text-align: center;
    margin: 5% auto;
    padding: 3em 2em 3em;
    display: grid;
    grid-template-columns: 55%;
    grid-auto-flow: row;
    justify-content: center;
    font-size: 1.2em;
}
.modal-content span.close {
    position: absolute;
    top: 0.15em;
    right: 0.75em;
    font-size: 2.1em;
    color: #6d6d6d;
    font-weight: bold;
}
.modal-content span.close:hover {
    color: #424242;
    cursor: pointer;
}
.modal-content h1 {
    text-align: left;
    font-size: 1.3em;
    margin-bottom: 1.5em;
}
.modal-content label {
    justify-self: start;
}
.modal-content input {
    margin: 0em 0em 1.5em;
    font-size: 0.8em;
    padding: 0em 0.3em;
}
.modal-content input[type="submit"] {
    margin-top: 2.5em;
    justify-self: start;
    padding: 0.3em 1.5em;
    font-size: 0.8em;
}