* {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font: inherit;
}
button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.UI, .heading {
    width: 74rem;
    margin: 0rem auto;
}

.heading {
    padding: 1rem 0rem 0.8rem;
    font-size: 2.5em;
}

.UI {
    padding: 0.75rem 0rem;
    border-top: solid 2px rgb(61, 164, 199);
    border-bottom: solid 2px rgb(61, 164, 199);
}
.UI button {
    font-size: 1.1em;
    padding: 0.6em 1.4em;
    border-radius: 10px;
    opacity: 1;
    cursor: pointer;
    background-color: #ffe364;
    border: 2px #a3a3a3 solid;
}
.UI button:hover {
    background-color: rgba(255, 227, 100, 0.8);
}

.shelf {
    margin-top: 1rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 17rem);
    grid-template-rows: 2.5em;
    grid-auto-rows: 19rem;
    gap: 2rem;
    justify-content: center;
}

.shelf h1 {
    margin: 0;
    grid-column: 1 / 5;
    font-size: 2em;
}

.shelfCard {
    background-color:#ffffff;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    align-items: center;
    padding: 0.1em;
    font-size: 1.2em;
    border: 5px double rgb(196, 167, 128);
    box-shadow: 8px 10px 10px #837a74, inset 0em 0em 5em rgb(230, 218, 163);
}
.shelfCard > div > span {
    font-weight: bold;
}

.shelf div.shelfCard div:last-child {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5em;
}

.shelf button {
    font-size: 0.8em;
    padding: 0.5em 0.9em;
    border-radius: 7px;
    border-width: 1px;
    background-color: #eee98e;
    border-color: #747474;
    cursor: pointer;
    border: 1px lightgrey solid;
}
.shelf button.finished-btn {
    background-color: #d5ecc6;
}
.shelf button.finished-btn:hover {
    background-color: #c9ffa6;
}
.shelf button:hover {
    background-color: rgb(250, 242, 100);
    border: #7a773d 1px solid;
}
.shelf button + button {
    opacity: 0.8;
    background-color: #ffc9c9;
}
.shelf button + button:hover {
    background-color: #ff7e7e;
    opacity: 1;
    border-color: rgb(65, 11, 11);
}

.form-modal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4);

    /* Fade in */
    animation-name: modal-fade-in;
    animation-duration: 0.3s
}
/* Fade in animation keyframes */
@keyframes modal-fade-in {
    from {opacity: 0};
    to {opacity: 1};
}
/* Slide down */
.modal-content {
    animation-name: modal-slide-down;
    animation-duration: 0.25s;
}
/* Slide down animation keyframes*/
@keyframes modal-slide-down {
    from {top: -100%}
    to {top: 0}
}
/* Fade out */
.form-modal[style*="none"] {
    animation-name: modal-fade-out;
    animation-duration: 0.4s;
    opacity: 0;
}
/* Fade out animation keyframes */
@keyframes modal-fade-out {
    from {display: block; opacity: 1};
    to {display: none; opacity: 0};
}
/* Slide up */
.form-modal[style*="none"] > form.modal-content {
    animation-name: modal-slide-up;
    animation-duration: 0.3s;
    top: -100%;
}
/* Slide up animation keyframes */
@keyframes modal-slide-up {
    from {top: 0}
    to {top: -100%}
}

.modal-content {
    position: relative;
    background-color: aliceblue;
    width: 55%;
    height: 85%;
    text-align: center;
    margin: 5% auto;
    padding: 3em 2em 3em;
    display: grid;
    grid-template-columns: 55%;
    grid-auto-flow: row;
    justify-content: center;
    font-size: 1.2em;
}
.modal-content span.close {
    position: absolute;
    top: 0.15em;
    right: 0.75em;
    font-size: 2.1em;
    color: #6d6d6d;
    font-weight: bold;
}
.modal-content span.close:hover {
    color: #424242;
    cursor: pointer;
}
.modal-content h1 {
    text-align: left;
    font-size: 1.3em;
    margin-bottom: 1.5em;
}
.modal-content label {
    justify-self: start;
}
.modal-content input {
    margin: 0em 0em 1.5em;
    font-size: 0.8em;
    padding: 0em 0.3em;
}
/* Remove number input field arrows/spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none; /* Chrome, Safari */
    appearance: none; /* Standard */
}
.modal-content > select {
    padding: 0.1em .2em;
    font-size: 0.8em;
}
.modal-content > input[type="submit"] {
    margin-top: 2.5em;
    justify-self: start;
    padding: 0.1em 1em;
    border-radius: 8px;
    background-color:#ebebeb;
    border: 1px #a3a3a3 solid;
    font-size: 0.8em;
    box-sizing: border-box;
}
.modal-content > input[type="submit"]:hover {
    box-sizing: border-box;
    background-color: #e4e4e4;
    border-color: #8b8b8b;
}
